name: Events Demo 1
on: 
  push:
    branches: master
env:
  DAY_OF_WEEK: "Hello World"
jobs:
  deploy:
    runs-on: ubuntu-latest
    env: 
      Greeting: Welcome
      node-version: 14.x
    steps:
      - name: Condition 1
        if: runner.os == 'Windows'
        run: echo "Runner is working on $env.RUNNER_OS "
      - name: Condition 2
        if: runner.os != 'Windows'
        run: echo "Runner is working on $env.RUNNER_OS "
      - name: Get code
        uses: actions/checkout@v3
      - name: Use Node Version $node-version
        uses: actions/setup-node@v3
        with:
          node-version: $node-version
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
      - name: Print the environment variables
        run: echo "$Greeting $First_Name. Today is $DAY_OF_WEEK!"
        env:
          First_Name: Siva
      - name: Deploy project
        run: echo "Deploying..."